# Crypto binaries and txt
Firmware License (Crypto).rtf
License (Crypto).rtf
PKCryptoWelcome.rtf
REDIST_CRYPTO.TXT
ReleaseNotesCrypto.txt
crypto/readme.txt

# Build results
/BuildOutput
*.log
*_assemblyinfo.txt
*.feedback
/alias.txt

# CMSIS and CMSIS_RTX
/CMSIS/CMSIS/
/CMSIS/Device/*
/CMSIS/ARM.CMSIS.pdsc
!/CMSIS/CMSIS/RTOS/RTX/dotNetMF.proj

# Visual Studio
*.aps
*.[Cc]ache
*.ilk
*.ncb
*.[Oo]bj
*.opensdf
*.pch
*.sbr
*.sdf
*.sln.docstates
*.suo
*.vspscc
*.vssscc
*.user
[Bb]in/
[Oo]bj/
ipch/

!/tools/bin/

#uVision
*.uvguix*
Listings/
{*/

# WinPCAP
/DeviceCode/Targets/OS/Win32/DeviceCode/WinPcap_Eth/Dependencies/WpdPack/

*.axfdump
/crypto/lib

#ignore header files generated at compile-time
DeviceCode/include/Samraksh/githash.h
DeviceCode/include/Samraksh/teamid.h

# Added by Dhrubo...since we're saving zipped TinyCLR now
binaries/tinyclr.axf
binaries/tinyclr_and_bootloader.axf